.project-section {
    max-width: 1200px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.project-section__content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.project-section__content__projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 50px;
}
.project-section__content__project {
    background-color: var(--projects-bg);
    border-radius: 16px;
    width: 475px;
    height: 550px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project-section__content__project__header {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    gap:8px;
}
.project-section__content__project__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project-section__content__project__description {
    max-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.project-section__content__project__video, .project-section__content__project__image {
    width: 325px;
    aspect-ratio: 16 / 9;
    align-self: center;
}
.project-section__content__project__tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 79px;
    gap: 5px;
    overflow-y: hidden;
}
.project-section__content__project__tags p {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.project-section__content__project__tags__tag {
    padding: 8px 12px;
    height: fit-content;
    background-color: var(--hero-bg);
    border-radius: 8px;
}
.project-section__content__project-button {
    margin-top: auto;
}

.project-section__content__button{
    text-align: center;
}

@media (max-width: 1200px){
    .project-section__content__projects{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 600px){
    .project-section {
        width: 350px;
    }
    .project-section__content__project {
        padding: 25px;
        width: 300px;
        aspect-ratio: 4 / 7;
        height: auto;
    }
    .project-section__content__project__video, .project-section__content__project__image {
        width: 250px;
    }
    .project-section__content__project__tags{
        max-height: 71px;
    }
}