.skills-section {
    max-width: 1200px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.skills-section__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-section__content__tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-section__content__skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--projects-bg);
    border-radius: 16px;
    padding: 0 15px;
    width: fit-content;
}
.skills-section__content__skill__tag {
    padding: 14px 0;
}

.skills-section__content__skill__logo {
    height: 30px;
    width: auto;
    border-radius: 100%;
}