.projects-section {
    width: 80vw;
    max-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.projects-section__project {
    background-color: var(--project-bg);
    border-radius: 16px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.projects-section__project__header {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projects-section__project__header__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects-section__project__header__cta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}
.projects-section__project__header__cta-button {
    width: 40px;
    height: 40px;
    align-items: center;
}
.projects-section__project__header__cta-button img,
.projects-section__project__header__cta-button svg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.projects-section__project__medias {
    width: 70vw;
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-section__project__medias figure,
.projects-section__project__medias iframe {
    width: 450px;
    margin: 0;
}

.projects-section__project__medias iframe {
    aspect-ratio: 16/9;
}

.projects-section__project__medias figure img {
    width: 100%;
    height: auto;
}
.projects-section__project__medias figure figcaption {
    text-align: center;
    font-size: 14px;
}

.projects-section__project__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.projects-section__project__content div {
    background-color: var(--hero-bg);
    border-radius: 16px;
    padding: 25px;
}
.projects-section__project__content h2 {
    margin-bottom: 10px;
}
.projects-section__project__content p {
    text-align: justify;
}

.projects-section__project__tags{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: hidden;
}
.projects-section__project__tags p {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    padding: 8px 12px;
    height: fit-content;
    background-color: var(--hero-bg);
    border-radius: 8px;
    cursor: pointer;
}
.projects-section__project__tags p:hover {
    filter: opacity(0.8);
    transition: filter 0.5s;
}

.projects-section__project__references {
    width: 100%;
}