@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-primary:        #F2F2F2;
    --color-secondary:      #FCFCFC;
    --color-text:           #202124;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary:   #171616;
        --color-secondary: #161B22;
        --color-text:      #F0F6FC;
    }
}

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --color-enhanced: #00D8FF;
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-text: var(--color-text);

    --shadow-xl: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

@layer base {
    h1, h2, h3, p, li, button {
        @apply text-text;
    }
    
    h1, h2, h3 {
        @apply font-poppins;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-lg;
    }
    h3 {
        @apply text-base;
    }

    p, li, button {
        @apply font-inter text-sm;
    }
    body {
        @apply bg-primary;
    }
}
@layer components {
    .page {
        @apply my-25 mx-auto flex flex-col gap-50;
    }
    .content {
        @apply mx-auto max-w-5xl flex;
    }
    .interact {
        @apply hover:shadow-md hover:shadow-enhanced
            hover:text-enhanced
            hover:opacity-80
            hover:-translate-y-1 transition-all duration-500 ease-in-out;
    }
}