@import "tailwindcss";

@theme {
    --font-domine: 'Domine', serif;
    --font-inter: 'Inter', sans-serif;

    --color-primary: #0D1117;
    --color-secondary: #161B22;
    --color-enhanced: #00D8FF;
    --color-header: #F0F6FC;
    --color-text: #C9D1D9;

    --shadow-xl: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}
@layer base {
    h1, h2, h3 {
        @apply font-domine text-header;
    }
    h1 {
        @apply text-2xl md:text-4xl;
    }
    h2 {
        @apply text-lg md:text-2xl;
    }
    h3 {
        @apply text-base md:text-lg;
    }
    p, li, button {
        @apply font-inter text-sm md:text-base text-text;
    }
    body {
        @apply bg-primary;
    }
}
@layer components {
    .page {
        @apply my-16 flex flex-col gap-32 min-w-sm;
    }
    .content {
        @apply w-10/12 max-w-[1200px] mx-auto bg-secondary flex rounded-2xl;
    }
    .interact {
        @apply cursor-pointer 
            hover:text-enhanced 
            hover:opacity-80 
            hover:-translate-y-1 
            hover:shadow-md 
            hover:shadow-enhanced 
            transition-opacity 
            transition-transform 
            transition-shadow 
            transition-colors 
            duration-300 
            ease-in-out;
    }
    .logo {
        @apply rounded-full;
    }
    .header {
        @apply flex flex-col md:flex-row gap-4 items-center justify-center;
    }
}