#projects a:hover {
    color: rgb(79, 75, 90);
}

#projects .date {
    font-style: italic;
}

#projects h2{
    text-align: left;
}

#projects h3{
    text-align: left;
    margin-left: 20px;
}

#projects .description {
    margin: 30px 0px;
    display: block;
    text-align: left;
}