:root {
    --background: #0D1117;
    --header-bg: #161B22;
    --project-bg: #1E252F;
    --nav-bg:#13171D;
    --p: #E6EDF3;
    --h: #F0F6FC;
    --link: #00D8FF;
}

.projects-page {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 100px 0;
}

.projects-page p, .projects-page figcaption, .projects-page ul, .projects-page ol {
    color: var(--p);
}
.projects-page h1, h2 {
    color: var(--h);
}
.projects-page a {
    color: var(--link);
    text-decoration: none;
}

.projects-page a:hover {
    filter: opacity(0.8);
    transition: filter 0.1s;
}